extends layout 
 
block content 
  h1= title 


  div(class="col-sm-4")
    form(id='pastryForm', action="/resource/pastrys", method="POST") 
        div(class="mb-3")
            label(for='pastry' class="form-label") Pastry type 
            input#pastry(type='text', name='pastry' class="form-control") 
        div(class="mb-3")
            label(for='toppings' class="form-label") Toppings 
            input#toppings(type='text', name='toppings' class="form-control") 
        div(class="mb-3")
            label(for='price' class="form-label") Price 
            input#price(type='number', name='price' class="form-control") 
        input(type="submit" class="btn btn-primary")
        a(href="/pastry" class="btn btn-secondary") Cancel 
    
    script. 
        document.forms['pastryForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'POST', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Save succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Save failed " + error ) 
        }); 
        }); 